# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
